@model IEnumerable<Modelos.Tuneflow.Media.Cancion>

@{
    ViewData["Title"] = "Index";
}


<form method="get" asp-action="Buscar" asp-controller="Buscar">
    <input type="text" name="nameCancion" placeholder="Busca tu canción" style="padding:8px; width:250px;" />
    <button type="submit" style="padding:8px;">Buscar</button>
</form>

@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Titulo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Duracion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Genero)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RutaArchivo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContenidoExplicito)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Artista)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Album)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titulo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Duracion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Genero)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RutaArchivo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContenidoExplicito)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Artista.Apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Album.Descripcion)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
