@model Modelos.Tuneflow.Playlists.Album

@{
    Layout = "~/Areas/Artista/Views/Shared/_LayoutArtista.cshtml";
    ViewData["Title"] = "Editar Álbum";
    var canciones = ViewBag.Canciones;
}

<div class="container mt-3">
    <h1>Editar Álbum</h1>
    <h4>Álbum</h4>
    <hr />

    <div class="row">
        <div class="col-md-6">
            <form asp-action="Edit" asp-controller="Albums" asp-area="Artista" method="post">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input type="hidden" name="id" value="@Model.Id" />

                <div class="form-group">
                    <label for="Title">Título</label>
                    <input name="Title" id="Title" class="form-control" value="@Model.Title" />
                </div>

                <div class="form-group">
                    <label >Fecha</label>
                    <input id="fecha" class="form-control" value="@Model.ReleaseDate.ToString("dd 'de' MMMM 'de' yyyy", new System.Globalization.CultureInfo("es-ES"))" readonly />
                </div>


                <div class="form-group">
                    <label asp-for="Genre" class="control-label">Género</label>
                    <select asp-for="Genre" class="form-control" asp-items="@ViewBag.GenerosOptions">
                        <option value="">-- Selecciona un género --</option>
                    </select>
                    <span asp-validation-for="Genre" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Description" class="control-label">Descripción</label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label">Portada</label>
                    <div class="text-center my-4">
                        <img src="@Model.CoverPath"
                             alt="Portada del Álbum"
                             class="img-fluid rounded shadow"
                             style="max-height: 300px;" />
                    </div>
                </div>

                <div class="form-group mt-3">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-secondary ms-2">Regresar</a>
                </div>
            </form>
        </div>
    </div>

    <hr />

    <h4>Canciones del Álbum</h4>

    @if (canciones != null && canciones.Count > 0)
    {
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th>Portada</th>
                    <th>Título</th>
                    <th>Duración</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cancion in canciones)
                {
                    <tr>
                        <td>
                            <img src="@Model.CoverPath" alt="Portada" class="img-fluid rounded" style="max-height:100px;" />
                        </td>
                        <td>@cancion.Title</td>
                        <td>@cancion.Duration</td>
                        
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No hay canciones en este álbum.</p>
    }
</div>
