@model IEnumerable<Modelos.Tuneflow.Media.Song>

@{

    Layout = "~/Areas/Artista/Views/Shared/_LayoutArtista.cshtml";
   

    ViewData["Title"] = "Canciones";
}

<div class="container">

<h1>Mis Canciones</h1>

<p>
        <a href="/Artista/Canciones/SubirCancion?artistaId=@ViewBag.ArtistaId" class="btn btn-primary btn-sm">Subir Canción</a>



</p>
<table class="table">
    <thead>
        <tr>
            <th>Portada</th>
            <th>Título</th>
            <th>Género</th>
            <th>Duración</th>
            <th>Album</th>
            <th>Contenido Explicito</th>
            <th>Fecha Lanzamiento</th>
        </tr>
    </thead>
    <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <div class="reproductor-portada">
                                <img src="@item.ImagePath" alt="Portada de @item.Title" style="width: 60px; height: 60px; object-fit: cover;" />
                            </div>
                        </td>
                        <td>@item.Title</td>
                        <td>@item.Genre</td>
                        <td>@item.TimeInMinutes(item.Duration)</td>

                        @if (item.AlbumId == null)
                        {
                            <td>Single</td>
                        }
                        else
                        {
                            <td>@item.Album?.Title</td> <!-- Protegido con null-conditional -->
                        }

                        <td>@(item.ExplicitContent ? "Sí" : "No")</td>
                        <td>@item.ReleaseDate.ToString("dd/MM/yyyy")</td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="8" class="text-center">No hay canciones registradas.</td>
                </tr>
            }
    </tbody>
</table>
</div>
