@model IEnumerable<Modelos.Tuneflow.Models.ArtistVerificationRequest>
@{
    ViewData["Title"] = "Peticiones de Verificación";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="mb-4">📩 Peticiones de Verificación</h1>

@if (!Model.Any())
{
    <div class="alert alert-info">No hay peticiones de verificación pendientes.</div>
}
else
{
    <div class="table-responsive">
        <table class="results-table">
        <thead class="table-dark">
            <tr>
                <th>Foto</th>
                <th>Nombre Artístico</th>
                <th>Género Musical</th>
                <th>País</th>
                <th>Fecha de Solicitud</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var peticion in Model)
            {
                var artista = peticion.Artist;
                <tr>
                    <td>
                        <img src="@(artista?.Profile?.ProfileImage ?? "/img/default-profile.jpg")"
                             class="rounded-circle"
                             width="60"
                             height="60"
                             alt="Foto de perfil" />

                    </td>
                    <td>
                        <a asp-controller="Peticiones" asp-action="Details" asp-route-id="@peticion.Id" class="btn btn-outline-primary">
                            @artista.StageName 
                        </a>
                    </td>
                    <td>@artista.MusicGenre</td>
                    <td>@artista.Country.Name</td>
                    <td>@peticion.RequestDate.ToString("dd/MM/yyyy")</td>
                    <td>
                        <a asp-area="Admin" asp-controller="Peticiones" asp-action="Details" asp-route-id="@peticion.Id"
                           class="btn btn-info btn-sm me-1">
                            Detalles
                        </a>

                        <a asp-area="Admin" asp-controller="Peticiones" asp-action="Delete"asp-route-id="@peticion.Id"
                           class="btn btn-info btn-sm me-1">
                           Eliminar
                        </a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
    </div>
}
